<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Listado | Estudiantes</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
</head>
<body>
	<a name="arriba"></a>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Lista Estudiantes</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/estudiante}">Estudiantes</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/estudiante/nuevo}">Registro</a></li>


				</ul>
			</div>
		</div>
	</nav>
	<br>
	<div class="container">
		<div class="col-lg-3">
			<a th:href="@{/estudiante/nuevo}" class="btn btn-primary btn-sm mb3">Registro
				Estudiante</a>
		</div>
	</div>
	<br>
	<div class="container">
		<table class="table table-striped table-bordered ">
			<thead class="table-dark">
				<tr>

					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Email@</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="estudiante :${estudiante}">
					<td th:text="${estudiante.nombre}">Nombre</td>
					<td th:text="${estudiante.apellido}">Apellido</td>
					<td th:text="${estudiante.email}">Email</td>
					<td><a
						th:href="@{/estudiante/editar/{id}(id=${estudiante.id})}"
						class="btn btn-info">Editar</a> <a
						th:href="@{/estudiante/{id}(id=${estudiante.id})}"
						class="btn btn-danger">Eliminar</a></td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
<footer>
	Control | Estudiantes <a href="#arriba">Subir</a>
</footer>
</html>